<!DOCTYPE html>
<html>
<head>
	<title>QRCODE SCANNER</title>
	<link rel="shortcut icon" type="image/jpg" href="{{ url_for('static', filename='favicon.ico' ) }}"/>
</head>
<body>
	<div align="center" style="padding-top: 2%">
		<div id="reader" style="width: 40%;"></div>
	</div>
		


	<!-- <script src="https://raw.githubusercontent.com/mebjas/html5-qrcode/master/minified/html5-qrcode.min.js"></script>-->
		<script src="{{ url_for('static', filename='html5-qrcode.min.js' ) }}"> </script>

		<script type="text/javascript">
		// This method will trigger user permissions
		// If you want to prefer back camera
		
		Html5Qrcode.getCameras().then(devices => {
		  /**
		   * devices would be an array of objects of type:
		   * { id: "id", label: "label" }
		   */
	
		  if (devices && devices.length) {
		    var cameraId = devices[0].id;
		    console.log('camera detected');
		    // .. use this to start scanning.
		    	const html5QrCode = new Html5Qrcode(/* element id */ "reader");
		    	const qrCodeSuccessCallback = message => { /* handle success */
		    		alert(message + 'test');
		    	}
				const config = { fps: 30, qrbox: 450 };

		    	//Set Mobile Camera to Back
				html5QrCode.start({ facingMode: "environment" }, config, qrCodeSuccessCallback);
				

				//callable for future use
				html5QrCode.stop().then(ignore => {
				  // QR Code scanning is stopped.
				}).catch(err => {
				  // Stop failed, handle it.
				});

		  }
		}).catch(err => {
		  // handle err
		});

	</script>
</body>
</html>